{% load widget_tweaks %}

<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Editar Certificación</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form method="POST" action='' enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="form-group">
                        {% render_field  form_certificado.nombre_certificacion.label %}
                        {% render_field  form_certificado.nombre_certificacion class="form-control" %}
                    </div>
                    <div class="form-group">
                        {% render_field  form_certificado.url_referencia.label %}
                        {% render_field  form_certificado.url_referencia class="form-control" %}
                    </div>
                    <div class="form-group">
                        {% render_field  form_certificado.img.label %}
                        {% render_field  form_certificado.img class="form-control" %}
                    </div>
                    <div class="form-group">
                        {% render_field  form_certificado.publicado.label %}
                        {% render_field  form_certificado.publicado class="form-control" %}
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>