<hr class="sidebar-divider">

<div class="sidebar-heading">
    Gestión de reclamos
</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reclamos" aria-expanded="true" aria-controls="reclamos">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>Reclamos / Sugerencias</span>
    </a>
    <div id="reclamos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Reclamos / Sugerencias:</h6>
            <a class="collapse-item" href="{% url 'panel:panel' %}">Ver todas las solicitudes</a>
        </div>
    </div>
</li>

<hr class="sidebar-divider">