<div class="row">
    <div class="col-xl-12 col-lg-12">
        {% if eliminado %}
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ eliminado }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Registro de Contactos Web</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Acciones:</div>
                        <a href="{% url 'home:home' %}#contacto" class="dropdown-item" target="_blank">Ir a la Sección</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table_datos" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Fono</th>
                            <th>Mensaje</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Fono</th>
                            <th>Mensaje</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for i  in contactos %}
                            <tr>
                                <td>{{ i.fecha }}</td>
                                <td>{{ i.nombre_completo }}</td>
                                <td>{{ i.email }}</td>
                                <td>{{ i.fono }}</td>
                                <td>{{ i.mensaje }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


