<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nº Registro</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha</th>
            <th scope="col">Respuesta</th>
        </tr>
        </thead>
        <tbody>
        {% for i in mi_respuesta %}
            <tr>
                <th scope="row">{{ i.pk }}</th>
                 <td>{{ i.usuario_interno }}</td>
                <td>{{ i.fecha_respuesta }}</td>
                <td>{{ i.detalle_respuesta }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div>
