<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Registro de Servicios Web</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Acciones:</div>
                        <a href="{% url 'panel:crear-servicio' %}" class="dropdown-item">Nuevo Servicio</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table_datos" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoróa</th>
                            <th>Descripción</th>
                            <td>Publicado</td>
                            <th>Ver</th>
                            <th>Editar</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <td>Publicado</td>
                            <th>Ver</th>
                            <th>Editar</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for i  in servicios %}
                            <tr>
                                <td>{{ i.nombre }}</td>
                                <td>{{ i.get_categoria_display }}</td>
                                <td>{{ i.descripcion|safe }}</td>
                                {% if i.publicado  %}
                                    <td>Si</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                                <td class="text-center">
                                    <a target="_blank" class="btn btn-warning" href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/servicio/{{ i.slug }}"><i class="fas fa-eye"></i></a>
                                </td>

                                <td class="text-center">
                                    <a href="{% url 'panel:detalle-servicio' i.pk %}" class="btn btn-info">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>