{% load crispy_forms_tags %}
<div class="row">
    <div class="col-xl-12 col-lg-12">
        {% if creado %}
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ creado }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Mensaje para indicar que se ha editado con exito el convenio-->
        {% if editado %}
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ editado }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Registro de Usuarios</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Acciones:</div>
                        <a data-toggle="modal" data-target="#modal_usuario" class="dropdown-item" href="">Agregar usuario</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table_datos" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Ver</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Usuario</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th>Ver</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for i  in usuarios %}
                            <tr>
                                <td>{{ i.username }}</td>
                                <td>{{ i.email }}</td>
                                {% if i.is_active  %}
                                    <td>Activo</td>
                                {% else %}
                                    <td>No activo</td>
                                {% endif %}
                                <td class="text-center">
                                    <a href="{% url 'panel:detalle-usuario' i.pk %}" class="btn btn-info">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal_usuario" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Nuevo Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger" id="div-errores">
                <strong>¡ATENCIÓN!</strong> el formulario tiene errores, intente de nuevo.
                <p id="id_error"></p>
            </div>
            <form role="form" method="POST" id="form-usuario" data-url="{% url 'panel:form-crear-usuario-por-ajax' %}"> {% csrf_token %}
                <div class="modal-body">
                    {{ form_usuario|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="btn-form-usuario">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


