{% load crispy_forms_tags %}
<div class="row">

    <div class="col-xl-12 col-lg-12">
        <!-- Mensaje para indicar que se ha editado con exito el convenio-->
        {% if editado %}
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ editado }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Detalles del Usuario</h6>
                <div class="pull-right">
                    <a data-toggle="modal" data-target="#modal_editar_usuario">
                        <i class="fa fa-2x fa-edit"></i>
                    </a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Usuario</td>
                            <td>{{ detalle_usuario.username }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ detalle_usuario.email }}</td>
                        </tr>
                        <tr>
                            <td>Grupo</td>
                            {% for group in detalle_usuario.groups.all %}
                                <td>{{ group }}</td>
                            {% endfor %}

                        </tr>
                        <tr>
                            <td>Estado</td>
                            {% if detalle_usuario.is_active %}
                                <td>Activo</td>
                            {% else %}
                                <td>No activo</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Último acceso</td>
                            <td>{{ detalle_usuario.last_login }}</td>
                        </tr>
                        <tr>
                            <td>Fecha creación</td>
                            <td>{{ detalle_usuario.date_joined }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- THE MODAL WE WILL BE USING -->
<div class="modal fade" id="modal_editar_usuario" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger" id="div-errores">
                <strong>¡ATENCIÓN!</strong> el formulario tiene errores, intente de nuevo.
                <p id="id_error"></p>
            </div>
            <form role="form" method="POST" id="form-editar-usuario" data-url="{% url 'panel:form-update-usuario-ajax' pk_usuario %}"> {% csrf_token %}
                <div class="modal-body">
                    {{ form_usuario|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="btn-form-editar-usuario">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
