<div class="table-responsive">

    {% if mi_respuesta %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Respuesta</th>
                <th scope="col">Usuario</th>

            </tr>
            </thead>
            <tbody>
            {% for i in mi_respuesta %}
                <tr>
                    <td>{{ i.fecha_respuesta }}</td>
                     <td>{{ i.detalle_respuesta }}</td>
                    <td>{{ i.usuario_interno }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% else %}

        <div class="alert alert-warning" role="alert">
            Sin respuesta
        </div>

    {% endif %}

</div>
