{% load staticfiles %}
<section class="module-sm" id="certificaciones">
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-8 m-auto">#}
{#                <div class="module-title text-center">#}
{#                    <h2>Certificaciones</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel clients-carousel" data-carousel-options="{&quot;items&quot;:&quot;4&quot;}">
                        <div class="client"><img src="{% static 'assets/images/clients/logo-1.png' %}" alt=""></div>
                        <div class="client"><img src="{% static 'assets/images/clients/logo-2.png' %}" alt=""></div>
                        <div class="client"><img src="{% static 'assets/images/clients/logo-2.png' %}" alt=""></div>
                        <div class="client"><img src="{% static 'assets/images/clients/logo-2.png' %}" alt=""></div>
                        <div class="client"><img src="{% static 'assets/images/clients/logo-2.png' %}" alt=""></div>
                        <div class="client"><img src="{% static 'assets/images/clients/logo-2.png' %}" alt=""></div>
                        <div class="client"><img src="{% static 'assets/images/clients/logo-2.png' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
</section>