{% load widget_tweaks %}
<section class="module module-gray" id="contacto">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="module-title text-center">
                    <h2>Contacto</h2>
                    <p class="font-serif">Por favor complete el siguiente formulario. Todos los campos son obligatorios</p>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Error Contacto Form-->
                <div class="alert alert-danger" id="div-errores">
                    <strong>¡ATENCIÓN!</strong> el formulario tiene errores, intente de nuevo.
                    <p id="id_error"></p>
                </div>
                <!-- Error Contacto Form-->
                <form id="form-contacto" method='POST'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {% render_field  form.nombre_completo.label %}
                                {% render_field  form.nombre_completo class="form-control" placeholder=form.nombre_completo.label  %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {% render_field  form.fono.label %}
                                {% render_field  form.fono class="form-control" placeholder=form.fono.label %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {% render_field  form.email.label %}
                                {% render_field  form.email class="form-control" placeholder=form.email.label %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {% render_field  form.mensaje.label %}
                                {% render_field  form.mensaje class="form-control" placeholder=form.mensaje.label %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <button class="btn btn-round btn-success" type="submit" id="btn-form-contacto">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Modal contacto realizado-->
                <div class="modal fade" id="ContactonModal" tabindex="-1" role="dialog" aria-labelledby="ContactoModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ContactoModalLabel">Datos enviados</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Hola <strong id="emisor"></strong>, tus datos fueron recibidos con éxito. Saludos
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal contacto realizado-->
            </div>
            <div class="col-md-4">
                <div class="icon-box icon-box-left">
                    <div class="icon-box-title">
                        <div class="special-heading">
                            <h3>Oficina Concepción</h3>
                        </div>
                    </div>
                    <div class="icon-box-content">
                        <ul class="icon-list">
                            <li><span class="icon icon-basic-map"></span> <span>Progreso pje 1, nº 1560 Chiguayante, Concepción, Chile</span></li>
                            <li><span class="icon icon-basic-headset"></span> <span>+56 41 2492200 - +56 41 2492201</span></li>
                        </ul>
                    </div>
                </div>
                <div class="icon-box icon-box-left">
                    <div class="icon-box-title">
                        <div class="special-heading">
                            <h3>Oficina Puerto Montt</h3>
                        </div>
                    </div>
                    <div class="icon-box-content">
                        <ul class="icon-list">
                            <li><span class="icon icon-basic-map"></span> <span>Av Autral 1858, Puerto Montt</span></li>
                            <li><span class="icon icon-basic-headset"></span> <span>+56 2 29195613 - +569-53975411</span></li>
                        </ul>
                    </div>
                </div>
                <div class="icon-box icon-box-left">
                    <div class="icon-box-title">
                        <div class="special-heading">
                            <h3>Oficina Iquique</h3>
                        </div>
                    </div>
                    <div class="icon-box-content">
                        <ul class="icon-list">
                            <li><span class="icon icon-basic-map"></span> <span>Oscar Bonilla Nº 26, oficina 604</span></li>
                            <li><span class="icon icon-basic-headset"></span> <span>+56 2 28817212 - +569 74078325</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
