{% load staticfiles %}
<footer class="footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <span class="copyright">© {% now 'Y' %} Ecogestion Ambiental Ltda. Todos los derechos limitados <a href="http://helloworld.cl/" target="_blank">helloworld.cl</a></span>
                        <ul class="social-icons p-1">
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-youtube text-white"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-2x fa-linkedin  text-white"></i></a></li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
