{% load staticfiles %}
<section class="module" id="nosotros">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center"><img class="img-responsive img-thumbnail" src="{% static 'assets/images/iphone-2.png' %}" alt=""></div>
            </div>
            <div class="col-md-6">
                <div class="special-heading">
                    <h4>¡Nuestra Misión!</h4>
                </div>
                <p class="text-justify">
                    ECOGESTION AMBIENTAL es una empresa de asesorías en estudios y control ambiental cuyos servicios son un gran apoyo para los diversos proyectos industriales de numerosos sectores productivos en donde se interviene el medio ambiente. Desarrollamos servicios especializados de mediciones, muestreos y ensayos de diversas matrices ambientales que son el resultado de una combinación del conocimiento de nuestros profesionales y la comprobada experiencia en las áreas de la biología, química, industrial, medio ambiente, limnología, ecología y oceanografía.
                </p>
                <p class="text-justify">
                    El compromiso con nuestros clientes y organismos del estado se basa en dar cumplimiento a las expectativas e intereses de cada uno de ellos avalado mediante la acreditación de nuestros servicios por el Instituto Nacional de Normalización (INN) y la Superintendencia de Medio Ambiente (SMA), todo ello considerando siempre la seguridad y bienestar de nuestro personal.
                </p>
            </div>

        </div>
    </div>
</section>
<section class="module module-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="special-heading">
                    <h4>¡Nuestra Visión y Valores!</h4>
                </div>
                <p class="text-justify">
                    Consolidarse en el mediano plazo como asesores ambientales de referencia de estudios en distintos problemas ambientales y de apoyo en proyectos de inversión a nivel nacional. Reconocida por la calidad de sus estudios y su permanente apoyo a la sustentabilidad ambiental.
                </p>
                <p>
                    Nuestros valores son:
                </p>

                <div class="row">

                    <div class="col-sm-3">
                        <ul>
                            <li>- Confiabilidad</li>
                            <li>- Calidad</li>
                            <li>- Compromiso</li>
                            <li>- Eficiencia</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul>
                            <li>- Efectividad</li>
                            <li>- Veracidad</li>
                            <li>- Ética</li>
                            <li>- Profesionalismo</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="text-center"><img class="img-responsive img-thumbnail" src="{% static 'assets/images/iphone-2.png' %}" alt=""></div>
            </div>

        </div>
    </div>
</section>
<!-- Parallax-->
<section class="module parallax bg-dark bg-dark-30" data-background="{% static 'assets/images/brochure.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="text-center">
                    <h1>¡Conoce más acerca de <br> nuestra nuestra empresa!</h1>
                    <a class="btn btn-circle btn-lg btn-success wow fadeInDown animated" href="#">Descargar Brochure!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Parallax end-->