{% load staticfiles %}

{% if request.path == '/' %}

    <section class="module-header full-height parallax bg-dark bg-dark-60" data-background="{% static 'assets/images/intro-video-mar.jpg' %}" data-jarallax-video="https://youtu.be/kUrDKy0j-z4" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1 wow fadeInDown">Entidad Técnica de Fiscalización Ambiental</h1>
                    <p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Servicios Ambientales Ecología y Consultoría para la Protección y Conservación del Medio Ambiente.
                    </p>
                    <p><a class="btn btn-circle btn-lg btn-success wow fadeInDown" data-wow-delay="0.9s" href="#">Descarga nuestros Alcances</a></p>
                </div>
            </div>
        </div>
    </section>

{% else %}
    <section class="module-page-title">
        <div class="container">
            <div class="row-page-title">
                <div class="page-title-captions">
                    <h1 class="h5">{{ nombre_servicio }}</h1>
                </div>
                <div class="page-title-secondary">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'home:home' %}#servicios">Servicios</a></li>
                        <li class="breadcrumb-item active">{{ nombre_servicio }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

{% endif %}