{% load staticfiles %}
{#<section class="module-slides" id="home">#}
{#    <ul class="slides-container">#}
{#        <li class="bg-dark bg-dark-30"><img src="{% static 'assets/images/slide-home.jpg' %}" alt="">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <h1 class="h1 wow fadeInDown">Entidad Técnica de Fiscalización Ambiental</h1>#}
{#                        <p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Servicios Ambientales Ecología y Consultoría para la Protección y Conservación del Medio Ambiente.#}
{#                        </p>#}
{#                        <p><a class="btn btn-circle btn-lg btn-success wow fadeInDown" data-wow-delay="0.9s" href="#">Let’s get started!</a></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </li>#}
{#    </ul>#}
{#    <nav class="slides-navigation"><a class="next" href="#"><span class="arrows arrows-arrows-slim-right"></span></a><a class="prev" href="#"><span class="arrows arrows-arrows-slim-left"></span></a></nav>#}
{#</section>#}


{#<section class="module-header parallax bg-dark bg-dark-30 full-height" data-background="{% static 'assets/images/slide-home.jpg' %}">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <h1 class="h1 wow fadeInDown">Entidad Técnica de Fiscalización Ambiental</h1>#}
{#                <p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Servicios Ambientales Ecología y Consultoría para la Protección y Conservación del Medio Ambiente.#}
{#                </p>#}
{#                <p><a class="btn btn-circle btn-lg btn-success wow fadeInDown" data-wow-delay="0.9s" href="#">Let’s get started!</a></p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="module-header full-height parallax bg-dark bg-dark-30" data-background="{% static 'assets/images/intro-video.jpg' %}" data-jarallax-video="https://youtu.be/T-l9yPhWcuM">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <h1 class="h1 wow fadeInDown">Entidad Técnica de Fiscalización Ambiental</h1>
                <p class="m-b-40 wow fadeInDown" data-wow-delay="0.7s">Servicios Ambientales Ecología y Consultoría para la Protección y Conservación del Medio Ambiente.
                </p>
                <p><a class="btn btn-circle btn-lg btn-success wow fadeInDown" data-wow-delay="0.9s" href="#">Let’s get started!</a></p>
            </div>
        </div>
    </div>
</section>