{% load  staticfiles %}
<section class="module p-5" id="servicios">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="module-title text-center">
                    <h2>Servicios</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-portfolio-filter m-b-30">
            <div class="col-md-12">
                <ul class="filters h5" id="filters">
                    <li><a class="current" href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".vigilancia">vigilancia</a></li>
                    <li><a href="#" data-filter=".estudios">estudios</a></li>
                    <li><a href="#" data-filter=".monitoreos">monitoreos</a></li>
                    <li><a href="#" data-filter=".laboratorio">laboratorio</a></li>
                </ul>
            </div>
        </div>

        <div class="row row-portfolio row-gutter" data-columns="3">
            <div class="grid-sizer"></div>
            {% for i in servicios %}
                <div class="portfolio-item {{ i.get_categoria_display }} ">
                    <div class="portfolio-wrapper">
                        {% if i.img %}
                            <img src="{{ i.img.url }}" alt="{{ i.nombre }}">
                            <div class="portfolio-overlay"></div>
                            <div class="portfolio-caption">
                                <h5 class="portfolio-title">{{ i.nombre }}</h5>
                            </div><a class="portfolio-link" href="/servicio/{{ i.slug }}"></a>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>No hay servicios publicados</p>
            {% endfor %}
        </div>
    </div>
</section>
