{% extends 'base.html' %}

{% block header %}
    {% include 'include/header.html' %}
{% endblock header %}

{% block page-header %}
    {% include 'include/page-header.html' %}
{% endblock page-header %}

{% block nosotros %}
    {% include 'include/nosotros.html' %}
{% endblock nosotros %}

{% block servicios %}
    {% include 'include/servicios.html' %}
{% endblock servicios %}

{% block equipo %}
    {% include 'include/equipo.html' %}
{% endblock equipo %}

{% block certificaciones %}
    {% include 'include/certificaiones.html' %}
{% endblock certificaciones %}

{% block contacto %}
    {% include 'include/contacto.html' %}
{% endblock contacto %}

{% block footer %}
    {% include 'include/footer.html' %}
{% endblock footer %}