{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/assets/css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'dashboard/assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% block sidebar %}
        {% include 'include/sidebar.html' %}
    {% endblock sidebar %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% block nav %}
                {% include 'include/nav.html' %}
            {% endblock nav %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                {% block panel-title %}
                    {% include 'include/panel-title.html' %}
                {% endblock panel-title %}

                <!-- Content Row -->
                {% block content %}
                {% endblock content %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% block footer %}
            {% include 'include/footer-panel.html' %}
        {% endblock footer %}
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea salir del sistema?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Haz clic sobre el botón "Salir" para finalizar la sesión actual.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="{% url 'panel:salir' %}">Salir</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'dashboard/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'dashboard/assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'dashboard/assets/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/assets/js/sb-admin-2.min.js' %}"></script>
 <script src="{% static 'dashboard/assets/js/demo/datatables-demo.js' %}"></script>


{% block custom-js %}

    <script src="{% static 'reclamo/js/reclamo.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#table_datos').DataTable({
                "order": [],
                "language": {
                    "lengthMenu": "Ver _MENU_ registros",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Buscar:",
                    "zeroRecords": "No se ha encontrado en la busqueda",
                    "emptyTable": "No hay datos disponibles en la tabla",
                    "info": "Visibles _START_ a _END_ de _TOTAL_ Registros",
                    "infoEmpty": "Visibles 0 a 0 de 0 Registros",
                    "paginate": {
                        "first": "Primera",
                        "last": "Última",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }

                }

            });
            //-------------------------
        });
    </script>
    <script>
        $('#filtrar_datos, #exportar_datos').click(function(e){
            $('#accion_requerida').val(this.id);
            $('#form_filtros').submit();
        });
    </script>
{% endblock custom-js %}


</body>

</html>