<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Detalles</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% include 'include/tabla-detalle-reclamo.html' %}
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Respuestas</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% include 'include/tabla-detalle-respuesta.html' %}
            </div>
        </div>
    </div>
</div>